---
import Icons from "@/components/ui/Icons.astro";

interface Props {
  lang: "en" | "es";
}

const { lang } = Astro.props;

const content =
  lang === "en"
    ? (await import("@/content/en/contact")).content
    : (await import("@/content/es/contact")).content;
---

<!-- Contact Section -->
<article
  id="contact"
  class="flex flex-col gap-5 scroll-mt-25 items-center text-center pb-30"
>
  <h2 class="text-center">
    {content.title}<span class="text-primary">.</span>
  </h2>
  <div class="flex flex-col gap-4 items-center">
    <p class="max-w-xl">
      {content.description}
    </p>
    <a
      href={`mailto:${content.email}`}
      class="flex flex-row gap-2 items-center justify-center text-lg text-surface hover:text-primary transition-colors duration-200"
    >
      <Icons name="mail" size={20} />
      {content.email}
    </a>
    <div class="flex flex-row gap-6 mt-2">
      {
        content.socialLinks.map((link) => (
          <a
            href={link.url}
            target="_blank"
            rel="noopener noreferrer"
            aria-label={link.ariaLabel}
            class="text-surface/70 hover:text-primary transition-colors duration-200"
          >
            <Icons name={link.name} size={24} />
          </a>
        ))
      }
    </div>
  </div>
</article>
