---
import TechnologyIcon from "@/components/ui/TechnologyIcon.astro";

interface Props {
  lang: "en" | "es";
}

const { lang } = Astro.props;

const content =
  lang === "en"
    ? (await import("@/data/en/technologies")).technologiesContent
    : (await import("@/data/es/technologies")).technologiesContent;
---

<!-- Technologies Section -->
<article id="tools" class="flex flex-col gap-5">
  <h2 class="text-center lg:text-left">
    {content.title}<br /><span class="opacity-15">{content.subtitle}</span>
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-2.5">
    {
      content.technologies.map((tech) => (
        <div class="flex flex-row flex-nowrap items-center justify-start gap-4 p-4">
          <TechnologyIcon icon={tech.icon} />
          <div class="flex-1 flex flex-col gap-1">
            <h3 class="!text-2xl">{tech.name}</h3>
            <p>{tech.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</article>
